@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.recruit-img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.frame1 {
	color: #FFF;
	height: 300px;
	text-align: center;
	background-color: #FFFFFF;
	font: #000000;
}

.box-position1 {
	padding: 0;
	margin-top: 20px;
}

.box-position2 {
	padding: 0;
	margin-top: 20px;
}

.display-edit h1 {
	color: black;
	font-size: 24px;
	font-family: 'Noto Sans JP', sans-serif;
}

.frame2 {
	color: #FFF;
	height: 300px;
	text-align: center;
	background-color: #FFFFFF;
	font: #000000;
}

.jumbotron p {
	color: #000;
	font-size: 20px;
}

.button-one {
	color: #FFEEFF;
	font-size: 12px;
	border-radius: 4px;
	background-color: #0000BB;
	border: none;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
}

.button-two {
	color: #FFEEFF;
	font-size: 12px;
	border-radius: 4px;
	background-color: #0000BB;
	border: none;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
}

.button-one span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button-two span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button-one span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button-two span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button-one:hover span {
	padding-right: 25px;
}

.button-two:hover span {
	padding-right: 25px;
}

.button-one:hover span:after {
	opacity: 1;
	right: 0;
}

.button-two:hover span:after {
	opacity: 1;
	right: 0;
}

.display-edit  hr {
    border-top-color:#d5d5d5;;
}

.inexperienced-display {
	margin-top:30px;
}

.experienced-display {
	margin-top:30px;
}